.leftcol {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: start;
  margin-top: 20pt;
}

ratetcol {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: rgb(172, 167, 169); 
  margin-left: 15%;
  width: 25%;
  height: 40%;
  min-width: 50pt;
}

.litem {
  display: flex;
  background: rgb(235, 231, 233);
  min-width: 150pt;
  max-width: 250pt;
  height: 2em; 
  margin-bottom: 1pt;
}

.litemtop {
  display: flex;
  background: rgb(73, 243, 50);
  min-width: 100pt;
  max-width: 150pt;
  min-height: 15pt;
  height: 25pt;
  list-style-type: none;
  margin-bottom: 1pt;
  text-align: center;
}
