.navitems {
    background: rgb(218, 233, 16);
    padding: 5pt;
    margin: 0%;
    align-content: center;
    display: flex;
}

.item {
    margin-left: 15pt;
    margin-right: 15pt;
    list-style-type: none;
    font: bold small-caps 16px/18px couriernew;
    color: lightseagreen;
}

.item a:hover {
    background: #3dd349;
    color: white;
}

.item a:active {
    color: #f00; /* Цвет активной ссылки */
}